detection_module/people_profile/folder
.DS_Store
analyze_module/evaluate/__pycache__
analyze_module/time_series_model/reduced_fa1
analyze_module/time_series_model/weights
/.idea
demo_system/backend_weights
